:active {
  outline: none;
}

.CartItemWrapper {
  overflow: hidden;
}

.CartItem {
  display: table;
  table-layout: fixed;
  margin: 30px 0;
  width: 100%;
}

.CartItem__ImageWrapper,
.CartItem__Info {
  display: table-cell;
  vertical-align: middle;
}

.CartItem__ImageWrapper {
  width: 90px;
  min-width: 90px;
  text-align: center;
}

.CartItem__Info {
  padding-right: 25px;
  padding-left: 25px;
}

.CartItem__Title {
  width: 100%;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.CartItem__Title,
.CartItem__Variant,
.CartItem__PropertyList {
  margin-bottom: 0.45em;
}

.CartItem__Meta,
.CartItem__LinePriceList,
.CartItem__DiscountList {
  font-size: 10px;
}

.CartItem__PropertyList {
  list-style: none;
  font-style: italic;
}

.CartItem__DiscountList {
  list-style: none;
}

.CartItem__Discount {
  display: inline-block;
  margin-top: 6px;
  padding: 4px 8px;
  background: rgba(249, 76, 67, 0.1);
  color: #f94c43;
}

.CartItem__Discount svg {
  margin-right: 4px;
  vertical-align: text-bottom;
}

.CartItem__Discount+.CartItem__Discount {
  margin-top: 4px;
}

.CartItem__UnitPriceMeasurement {
  margin-top: 4px;
}

.CartItem__Actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 16px;
}

.CartItem__Remove {
  margin: 8px 0;
  font-size: 9px;
}

.CartItem__Remove::before {
  background: #909090;
}

@media screen and (min-width: 641px) {
  .CartItem__ImageWrapper {
    width: 120px;
  }

  .CartItem__Title {
    font-size: 13px;
  }

  .CartItem__Meta,
  .CartItem__LinePriceList {
    font-size: 12px;
  }

  .CartItem__Remove {
    font-size: 10px;
  }

  .CartItem__Actions {
    margin-top: 20px;
  }
}

.Cart .Drawer__Footer,
.Cart__OffscreenNoteContainer {
  padding: 14px 24px 24px 24px;
}

.Cart__Checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.Cart__OffscreenNoteContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  border-top: 1px solid #e1e1e1;
  transform: translateY(100%);
  transition: transform 0.25s ease-in-out;
}

.Cart__OffscreenNoteContainer[aria-hidden="false"] {
  transform: translateY(0);
  box-shadow: 1px 0 6px rgba(54, 54, 54, 0.2);
}

.Cart__Note {
  margin-top: 10px;
}

.Cart__Taxes {
  margin-bottom: 8px;
}

.Button--full {
  width: 100%;
}

.Button--primary,
.shopify-payment-button__button--unbranded,
#shopify-product-reviews .spr-summary-actions-newreview,
#shopify-product-reviews .spr-button-primary:not(input) {
  color: #fff;
  border-color: #3a3a3a;
}

.Icon-Wrapper--clickable {
  position: relative;
  background: transparent;

  &:focus {
    outline: none;
  }
}

.Icon-Wrapper--clickable::before {
  position: absolute;
  content: "";
  top: -8px;
  right: -12px;
  left: -12px;
  bottom: -8px;
  transform: translateZ(0);
}

.Icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  fill: currentColor;
  vertical-align: middle;
  stroke-width: 1px;
  background: none;
  pointer-events: none;
}

.u-visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.Button,
.shopify-payment-button__button--unbranded,
#shopify-product-reviews .spr-summary-actions-newreview,
#shopify-product-reviews .spr-button-primary:not(input),
#shopify-product-reviews input.spr-button-primary,
#shopify-product-reviews .spr-pagination-prev>a,
#shopify-product-reviews .spr-pagination-next>a {
  position: relative;
  display: inline-block;
  padding: 14px 28px;
  line-height: normal;
  border: 1px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;
}

.Button::before,
.shopify-payment-button__button--unbranded::before,
#shopify-product-reviews .spr-summary-actions-newreview::before,
#shopify-product-reviews .spr-button-primary:not(input)::before,
#shopify-product-reviews input.spr-button-primary::before,
#shopify-product-reviews .spr-pagination-prev>a::before,
#shopify-product-reviews .spr-pagination-next>a::before {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(1, 1);
  transform-origin: left center;
  z-index: -1;
}

@media (-moz-touch-enabled: 0),
(hover: hover) {

  .Button:not([disabled])::before,
  .shopify-payment-button__button--unbranded:not([disabled])::before,
  #shopify-product-reviews .spr-summary-actions-newreview:not([disabled])::before,
  #shopify-product-reviews .spr-button-primary:not(input):not([disabled])::before,
  #shopify-product-reviews input.spr-button-primary:not([disabled])::before,
  #shopify-product-reviews .spr-pagination-prev>a:not([disabled])::before,
  #shopify-product-reviews .spr-pagination-next>a:not([disabled])::before {
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .Button:not([disabled]):hover::before,
  .shopify-payment-button__button--unbranded:not([disabled]):hover::before,
  #shopify-product-reviews .spr-summary-actions-newreview:not([disabled]):hover::before,
  #shopify-product-reviews .spr-button-primary:not(input):not([disabled]):hover::before,
  #shopify-product-reviews input.spr-button-primary:not([disabled]):hover::before,
  #shopify-product-reviews .spr-pagination-prev>a:not([disabled]):hover::before,
  #shopify-product-reviews .spr-pagination-next>a:not([disabled]):hover::before {
    transform-origin: right center;
    transform: scale(0, 1);
  }
}

.Button[disabled],
[disabled].shopify-payment-button__button--unbranded,
#shopify-product-reviews [disabled].spr-summary-actions-newreview,
#shopify-product-reviews [disabled].spr-button-primary:not(input),
#shopify-product-reviews input[disabled].spr-button-primary,
#shopify-product-reviews .spr-pagination-prev>a[disabled],
#shopify-product-reviews .spr-pagination-next>a[disabled] {
  cursor: not-allowed;
}

.Button--primary,
.shopify-payment-button__button--unbranded,
#shopify-product-reviews .spr-summary-actions-newreview,
#shopify-product-reviews .spr-button-primary:not(input) {
  color: #fff;
  border-color: #3a3a3a;
}

.Button--primary::before,
.shopify-payment-button__button--unbranded::before,
#shopify-product-reviews .spr-summary-actions-newreview::before,
#shopify-product-reviews .spr-button-primary:not(input)::before {
  background-color: #3a3a3a;
}

@media (-moz-touch-enabled: 0),
(hover: hover) {

  .Button--primary:not([disabled]):hover,
  .shopify-payment-button__button--unbranded:not([disabled]):hover,
  #shopify-product-reviews .spr-summary-actions-newreview:not([disabled]):hover,
  #shopify-product-reviews .spr-button-primary:not([disabled]):hover:not(input) {
    color: #3a3a3a;
    background-color: transparent;
  }
}

.Button--secondary,
#shopify-product-reviews .spr-pagination-prev>a,
#shopify-product-reviews .spr-pagination-next>a {
  color: #6a6a6a;
  border: 1px solid rgba(106, 106, 106, 0.2);
}

.Button--secondary::before,
#shopify-product-reviews .spr-pagination-prev>a::before,
#shopify-product-reviews .spr-pagination-next>a::before {
  background-color: #3a3a3a;
  transform-origin: right center;
  transform: scale(0, 1);
}

@media (-moz-touch-enabled: 0),
(hover: hover) {

  .Button--secondary:not([disabled]):hover,
  #shopify-product-reviews .spr-pagination-prev>a:not([disabled]):hover,
  #shopify-product-reviews .spr-pagination-next>a:not([disabled]):hover {
    color: #fff;
    border-color: #3a3a3a;
  }

  .Button--secondary:not([disabled]):hover::before,
  #shopify-product-reviews .spr-pagination-prev>a:not([disabled]):hover::before,
  #shopify-product-reviews .spr-pagination-next>a:not([disabled]):hover::before {
    transform-origin: left center;
    transform: scale(1, 1);
  }
}

.Button--full {
  width: 100%;
}

.Button--stretched {
  padding-left: 40px;
  padding-right: 40px;
}

.Button--small {
  font-size: 11px;
  padding: 12px 24px;
}

.Button__SeparatorDot {
  display: inline-block;
  margin: 0 18px;
  content: "";
  height: 3px;
  width: 3px;
  border-radius: 100%;
  background: currentColor;
}

.ButtonWrapper {
  text-align: center;
}

.Button__PrimaryState,
.Button__SecondaryState {
  display: block;
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.125, 1), opacity 0.4s cubic-bezier(0.75, 0, 0.125, 1);
}

.Button__SecondaryState {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, 100%);
}

.Button--secondaryState .Button__PrimaryState {
  opacity: 0;
  transform: translateY(-100%);
}

.Button--secondaryState .Button__SecondaryState {
  opacity: 1;
  transform: translate(-50%, -50%);
}

.ButtonGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -12px;
}

.ButtonGroup__Item {
  margin: 12px;
}

.ButtonGroup__Item--expand {
  flex: 1 1 0;
}

.ButtonGroup--spacingSmall {
  margin: -8px;
}

.ButtonGroup--spacingSmall .ButtonGroup__Item {
  margin: 8px;
}

.ButtonGroup--sameSize .ButtonGroup__Item {
  flex: 0 1 auto;
  white-space: nowrap;
  max-width: 245px;
}

@supports (-o-object-fit: cover) or (object-fit: cover) {
  .ButtonGroup--sameSize .ButtonGroup__Item {
    flex: 1 1 0;
  }
}

@media screen and (min-width: 641px) {
  @supports (display: inline-grid) {
    .ButtonGroup--sameSize {
      display: inline-grid;
      grid-template-columns: 1fr 1fr;
    }

    .ButtonGroup--sameSize .ButtonGroup__Item {
      max-width: none;
    }
  }
}

.RoundButton,
.flickity-prev-next-button {
  position: relative;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: #fff;
  color: #3a3a3a;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(54, 54, 54, 0.15);
  vertical-align: middle;
  line-height: 0;
  transform: scale(1.001);
  transition: background 0.15s ease-in-out, opacity 0.15s ease-in-out, transform 0.2s ease-in-out, color 0.2s ease-in-out;
  overflow: hidden;
}

.RoundButton.is-active,
.is-active.flickity-prev-next-button {
  background: #3a3a3a;
  color: #fff;
  outline: none;
}

.RoundButton svg,
.flickity-prev-next-button svg {
  height: 15px;
  width: 15px;
  fill: currentColor;
}

.RoundButton--small {
  width: 35px;
  height: 35px;
}

.RoundButton--small svg {
  height: 14px;
  width: 14px;
}

.RoundButton--medium {
  width: 50px;
  height: 50px;
}

.RoundButton--medium svg {
  height: 18px;
  width: 18px;
}

.RoundButton--large {
  width: 55px;
  height: 55px;
}

.RoundButton--large svg {
  height: 15px;
  width: 15px;
}

.RoundButton--flat {
  box-shadow: 0 1px 5px rgba(54, 54, 54, 0.15);
  color: rgba(58, 58, 58, 0.5);
}

.RoundButton__PrimaryState,
.RoundButton__SecondaryState {
  display: block;
  transition: transform 0.4s cubic-bezier(0.75, 0, 0.125, 1), opacity 0.4s cubic-bezier(0.75, 0, 0.125, 1);
}

.RoundButton__SecondaryState {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, 100%);
}

.RoundButton--secondaryState .RoundButton__PrimaryState {
  opacity: 0;
  transform: translateY(-100%);
}

.RoundButton--secondaryState .RoundButton__SecondaryState {
  opacity: 1;
  transform: translate(-50%, -50%);
}

@-webkit-keyframes buttonFromLeftToRight {
  0% {
    transform: translateX(0%);
  }

  25% {
    opacity: 0;
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  75% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes buttonFromLeftToRight {
  0% {
    transform: translateX(0%);
  }

  25% {
    opacity: 0;
    transform: translateX(100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }

  75% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes buttonFromRightToLeft {
  0% {
    transform: translateX(0%);
  }

  25% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 0;
    transform: translateX(100%);
  }

  75% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes buttonFromRightToLeft {
  0% {
    transform: translateX(0%);
  }

  25% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 0;
    transform: translateX(100%);
  }

  75% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@-webkit-keyframes buttonFromTopToBottom {
  0% {
    transform: translateY(0%);
  }

  25% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  75% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes buttonFromTopToBottom {
  0% {
    transform: translateY(0%);
  }

  25% {
    opacity: 0;
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  75% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.Image--fadeIn {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.Image--lazyLoaded.Image--fadeIn {
  opacity: 1;
}

.Image--zoomOut {
  transform: scale(1.1);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Image--lazyLoaded.Image--zoomOut {
  opacity: 1;
  transform: none;
}

.Image--slideRight,
.Image--slideLeft {
  transform: translateX(25px);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Image--slideLeft {
  transform: translateX(-25px);
}

.Image--lazyLoaded.Image--slideRight,
.Image--lazyLoaded.Image--slideLeft {
  opacity: 1;
  transform: translateX(0);
}

.Image__Loader {
  position: absolute;
  display: block;
  height: 2px;
  width: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  margin: auto;
  pointer-events: none;
  background-color: #e1e1e1;
  z-index: -1;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}

.Image__Loader::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 200%;
  background-color: #3a3a3a;
}

.Image--lazyLoading+.Image__Loader {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.Image--lazyLoading+.Image__Loader::after {
  -webkit-animation: lazyLoader 3s infinite;
  animation: lazyLoader 3s infinite;
  -webkit-animation-timing-function: cubic-bezier(0.43, 0.43, 0.25, 0.99);
  animation-timing-function: cubic-bezier(0.43, 0.43, 0.25, 0.99);
}

.AspectRatio {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.AspectRatio::before {
  content: "";
  display: block;
}

.AspectRatio>img {
  max-height: 100%;
  max-width: 100%;
}

.AspectRatio--withFallback>img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.no-js .AspectRatio>img {
  display: none !important;
}

@supports (--css: variables) {
  .AspectRatio--withFallback {
    padding-bottom: 0 !important;
  }

  .AspectRatio::before {
    padding-bottom: calc(100% / 1);
  }

  .AspectRatio>img,
  .no-js .AspectRatio>noscript img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.AspectRatio--square::before {
  padding-bottom: 100%;
}

.AspectRatio--short::before {
  padding-bottom: 75%;
}

.AspectRatio--tall::before {
  padding-bottom: 150%;
}

.AspectRatio--square>img,
.AspectRatio--short>img,
.AspectRatio--tall>img {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@supports (-o-object-fit: contain) or (object-fit: contain) {

  .AspectRatio--square>img,
  .AspectRatio--short>img,
  .AspectRatio--tall>img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.Image--lazyLoad[data-sizes="auto"] {
  width: 100%;
}

.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  background: #363636;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.PageOverlay.is-visible {
  opacity: 0.5;
  visibility: visible;
}

.Drawer__Close {
  position: absolute;
  margin-left: 0;
  left: 18px;
  top: calc(50% - 7px);
  line-height: 0;
}

.Drawer {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  width: calc(100vw - 65px);
  height: 100vh;
  max-height: none;
  z-index: 20;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: #fff;
  box-shadow: none;
  touch-action: manipulation;
}

.Drawer:focus {
  outline: none;
}

.Drawer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 2px 0 10px rgba(54, 54, 54, 0.2), -2px 0 10px rgba(54, 54, 54, 0.2);
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.Drawer--secondary {
  background: #f0f0f0;
}

.Drawer--fromLeft {
  transform: translateX(calc(-100vw + 65px));
}

.Drawer--fromRight {
  right: 0;
  left: auto;
  transform: translateX(calc(100vw - 65px));
}

.Drawer[aria-hidden="false"] {
  visibility: visible;
  transform: translateX(0);
}

.Drawer[aria-hidden="false"]::before {
  opacity: 1;
}

.Drawer__Container {
  width: 100%;
}

.Drawer--fromLeft .Drawer__Container {
  padding-left: 18px;
  padding-right: 24px;
}

.Drawer--fromRight .Drawer__Container {
  padding-left: 24px;
  padding-right: 18px;
}

.Drawer__Header {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
  max-height: 60px;
  background: inherit;
  text-align: center;
  z-index: 1;
}

.Drawer__Header {
  height: 149px;
}

.Drawer__Header--center {
  justify-content: center;
}

.Drawer__Close {
  position: absolute;
  margin-left: 0;
  left: 18px;
  top: calc(50% - 7px);
  line-height: 0;
}

.Drawer__Close svg {
  width: 15px;
  height: 15px;
  stroke-width: 1.25px;
}

.Drawer--fromRight .Drawer__Close {
  right: 18px;
  left: auto;
}

.Drawer__Header--bordered {
  box-shadow: 0 -1px #e1e1e1 inset;
}

.Drawer--secondary .Drawer__Header--bordered {
  box-shadow: 0 -1px rgba(225, 225, 225, 0.6) inset;
}

.Drawer--secondary .Collapsible {
  border-bottom-color: rgba(225, 225, 225, 0.6);
}

.Drawer__Content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: calc(100% - 60px);
  max-height: calc(100% - 50px);
}

@supports (--css: variables) {
  .Drawer__Content {
    height: calc(100% - 149px);
    max-height: calc(100% - 149px);
  }
}

@supports (width: calc(max(100%))) {
  .Drawer__Content {
    height: calc(max(100% - 149px, 100% - 60px));
    max-height: calc(max(100% - 149px, 100% - 60px));
  }
}

.Drawer__Main {
  flex: 1 1 auto;
}

.Drawer__Footer {
  flex: none;
  box-shadow: 0 -1px #e1e1e1;
}

.Drawer--secondary .Drawer__Footer {
  box-shadow: 0 -1px rgba(225, 225, 225, 0.6);
}

.Drawer__Footer--padded {
  padding: 24px;
}

@media screen and (min-width: 641px) {
  .Drawer {
    width: 400px;
    transform: translateX(-100%);
  }

  .Drawer--small {
    width: 340px;
  }

  .Drawer--fromRight {
    transform: translateX(100%);
  }

  .Drawer__Header {
    max-height: 80px;
    min-height: 60px;
  }

  @supports (width: calc(max(100%))) {
    .Drawer__Content {
      height: calc(max(100% - 149px, 100% - 80px));
      max-height: calc(max(100% - 149px, 100% - 80px));
    }
  }

  .Drawer--fromLeft .Drawer__Container,
  .Drawer--fromRight .Drawer__Container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .Drawer__Close {
    left: 30px;
  }

  .Drawer--fromRight .Drawer__Close {
    right: 30px;
    left: auto;
  }

  .Drawer__Close svg {
    stroke-width: 1.5px;
  }

  .Drawer__Footer--padded {
    padding: 24px 30px;
  }
}

[data-drawer-animated-left],
[data-drawer-animated-right] {
  opacity: 0;
  transition: opacity 0.5s ease 0.25s, transform 0.5s ease 0.25s;
}

.Drawer[aria-hidden="false"] [data-drawer-animated-left],
.Drawer[aria-hidden="false"] [data-drawer-animated-right] {
  opacity: 1;
  transform: translateX(0);
}

[data-drawer-animated-left] {
  transform: translateX(-65px);
}

[data-drawer-animated-right] {
  transform: translateX(65px);
}

[data-drawer-animated-bottom] {
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.Drawer[aria-hidden="false"] [data-drawer-animated-bottom] {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s, transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.45s;
}

.QuantitySelector {
  display: inline-flex;
  align-items: center;
  border: 1px solid #e1e1e1;
  white-space: nowrap;
}

.QuantitySelector svg {
  width: 10px;
  height: 10px;
  stroke-width: 1.5px;
  vertical-align: -1px;
}

.QuantitySelector__Button {
  display: inline-block;
  padding: 5px 9px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Cart--expanded .CartItem__QuantitySelector {
  margin-bottom: 6px;
}

.QuantitySelector__CurrentQuantity {
  display: inline-block;
  width: 20px;
  padding: 0;
  font-size: 11px;
  text-align: center;
  letter-spacing: normal;
  background: transparent;
  border: none;
}

.QuantitySelector--large .QuantitySelector__CurrentQuantity {
  width: 35px;
  font-size: 15px;
}

.QuantitySelector--large .QuantitySelector__Button {
  padding: 10px 20px;
}

.QuantitySelector--large svg {
  width: 11px;
  height: 11px;
}

@media screen and (min-width: 641px) {
  .QuantitySelector__Button {
    padding: 7px 14px 8px 14px;
  }

  .QuantitySelector__CurrentQuantity {
    font-size: 13px;
  }
}

.Price {
  display: inline-block;
}

.Price--highlight {
  color: #f94c43;
}

.Price--compareAt {
  position: relative;
  margin-left: 10px;
}

.Price--compareAt::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -0.4em;
  width: calc(100% + 0.8em);
  height: 1px;
  background: currentColor;
}

.Link,
.shopify-payment-button__more-options {
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.supports-hover .Link--primary:hover,
.Link--primary.is-active {
  color: #3a3a3a;
}

.supports-hover .Link--secondary:hover,
.Link--secondary.is-active {
  color: #6a6a6a;
}

.Link--underline,
.shopify-payment-button__more-options {
  position: relative;
  display: inline-block;
}

.Link--underline::before,
.shopify-payment-button__more-options::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -1px;
  background: currentColor;
  transform: scale(1, 1);
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

@media (-moz-touch-enabled: 0),
(hover: hover) {

  .Link--underline:hover::before,
  .shopify-payment-button__more-options:hover::before {
    transform: scale(0, 1);
  }
}

.Link--underlineShort::before {
  width: 100%;
}

.Link--underlineNative {
  text-decoration: underline;
  text-underline-position: under;
}

.Heading {
  font-family: "Poppins", "Open Sans Hebrew";
  font-weight: 400;
  font-style: normal;
  color: #3a3a3a;
  transition: color 0.2s ease-in-out;
  font-size: 19px;
}

@media screen and (min-width: 641px) {

  .Cart .Drawer__Footer,
  .Cart__OffscreenNoteContainer {
    padding: 20px 30px 30px 30px;
  }

  .Cart__NoteButton+.Cart__Taxes {
    margin-top: 4px;
  }
}

.Cart--expanded .Cart__Footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #e1e1e1;
}

@media screen and (max-width: 640px) {
  .Cart--expanded .Cart__Recap {
    text-align: right !important;
  }
  .Cart__Total.Heading.u-h6 {
    text-align: center;
  }
}

.Cart--expanded .Cart__Recap {
  text-align: right;
}

.Cart--expanded .Cart__Recap,
.Cart--expanded .Cart__Recap .Cart__Checkout {
  margin-top: 16px;
}

.Cart--expanded .Cart__Checkout {
  margin-right: auto;
}

@media screen and (max-width: 640px) {

  .CartItem__Info~.CartItem__Actions,
  .CartItem__Info~.CartItem__LinePriceList {
    display: none;
  }
}

@media screen and (min-width: 641px) {
  .Cart--expanded .Cart__ItemList {
    display: table;
    table-layout: auto;
    border-spacing: 0 30px;
    width: 100%;
  }

  .Cart--expanded .Cart__Head {
    display: table-header-group;
  }

  .Cart--expanded .Cart__HeadItem {
    display: table-cell;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
  }

  .Cart--expanded .CartItem {
    display: table-row;
  }

  .Cart--expanded .CartItem__Info {
    max-width: 300px;
    width: 300px;
  }

  .Cart--expanded .CartItem__Info>.CartItem__Actions {
    display: none;
  }

  .Cart--expanded .CartItem__Info~.CartItem__Actions,
  .Cart--expanded .CartItem__Info~.CartItem__LinePriceList {
    display: table-cell;
    vertical-align: middle;
  }

  .Cart--expanded .CartItem__QuantitySelector {
    margin-bottom: 6px;
  }

  .Cart--expanded .Cart__Footer {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .Cart--expanded .Cart__Recap,
  .Cart--expanded .Cart__NoteContainer {
    display: table-cell;
  }

  .Cart--expanded .Cart__NoteContainer {
    width: 340px;
  }

  .Cart--expanded .Cart__Checkout {
    width: auto;
  }
}

@media screen and (min-width: 1140px) {
  .Cart--expanded .CartItem__Info {
    max-width: 425px;
    width: 425px;
  }
}

// Exit Button
button,
input[type="submit"] {
  padding: 0;
  overflow: visible;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}

[data-scrollable] {
  overflow: auto;
}

@-webkit-keyframes cartEmptyOpening {
  from {
    transform: translate(-50%, calc(-50% + 35px));
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes cartEmptyOpening {
  from {
    transform: translate(-50%, calc(-50% + 35px));
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.Cart__ShippingNotice {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 12px;
  border-bottom: 1px solid #e1e1e1;
  line-height: normal;
  z-index: 1;
  background: #fff;
}

.Cart__Empty {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  -webkit-animation: cartEmptyOpening 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: cartEmptyOpening 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

