.modal-content {
  border-radius: 1rem;
}
.modal-body {
  text-align: center;
}

.modal-header {
  background-color: #2b84be;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  border-radius: 0.8rem 0.8rem 0 0;
}
.heading {
  width: 100%;
  padding: 0.3rem;
  margin: 0;
  font-size: 1.15rem;
  color: #fff;
  text-align: center;
}

#bell {
  color: #2b84be;
  font-size: 90px;
  padding: 30px 0px;
}

.b1 {
  background-color: #2b84be;
  font-size: 17px;
}

.r3 {
  color: #c1c1c1;
  font-weight: 500;
}

a,
a:hover {
  text-decoration: none;

}