.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  g > path {
    fill: black !important;
  }
  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
  }
}

.fixed {
  .cart-icon {
    color: white;
    g > path {
      fill: white !important;
    }

  }
}