.carousel {
    width: 95vw;
    min-width: 30vw;
    // height: 937px;
    margin: 5px 0 50px 0;

    img {
        width: 100% !important;
        height: 40vw !important;
        min-width: 30vw;
    }
  }