$breakpoint-tablet: 1024px;

.sign-in-and-sign-up {
    display: flex;
    justify-content: space-between;
    margin: 30px 30px;
    @media (max-width: $breakpoint-tablet) {
            display: flex;
            flex-flow: column;
            justify-content: center; 

        .sign-up {
            text-align: center;
            margin: 0;
            margin-top: 50px;
            width: auto;
        }
    }
}