$white-color:#ffff;
$dark-grey: grey;

  
  .social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white-color;
      font-size: 3rem;
      width: 5rem;
      height: 5rem;
      margin: 5px 5px;
      transition: all 0.2s ease-in;
  
      &:hover {
        transform: translateY(-2px);
      }
    }
  }
  
  .back-to-top i {
    color: white;
    margin: 1rem 0 16px;
    transition: all 0.2s ease-in;
  
    &:hover {
      transform: translateY(-2px);
    }
  }
  