$breakpoint-mobile: 756px;

.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $breakpoint-mobile) {
    display: flex;
    flex-flow: column;
    justify-content: flex-start; 
  }
}