body {
    font-family: 'Open Sans Condensed';
    /* padding: 20px 40px; */
}
@media screen and (max-width: 800px) {
    body {
    padding: 0px;
    }
    }
a {
    text-decoration: none;
    color: black;
}
* {
    box-sizing: border-box;
}